body {
  background: #1c242d;
  font-family: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
  color: white;
  padding: 0;
  margin: 0;
}

@media (min-width: 1200px) {
  .wrapper {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 1200px) {
  .wrapper {
    margin: 0 auto;
    max-width: 100%;
    padding: 0 8px;
  }
}

a {
  text-decoration: none;
  color: white;
}

.page-header__top {
  background: #242f39;
}

.page-header__menu-top {
  display: flex;
  align-items: center;
}

.page-header__menu-top-list {
  display: flex;
}

.page-header__info-block > div {
  padding: 4px;
}

.page-header__menu-item {
  margin: 0;
  padding: 7px 6px;
  display: inline-block;
  font-size: 14px;
}

.page-header__info-block {
  display: flex;
  gap: 18px;
  margin: 0 0 0 auto;
  font-size: 14px;
}

.page-header__search-img {
  width: 14px;
}

.page-header__steam {
  display: flex;
  gap: 10px;
}

.page-header__steam-img {
  width: 14px;
}

.page-header__bottom {
  background-color: #2e3740;
}

.page-header__menu-subitem {
  color: rgb(175, 175, 175);
  margin: 0;
  padding: 6px 6px;
  display: inline-block;
  font-size: 14px;
}

.page-header__menu-subitem:hover {
  color: rgb(255, 255, 255);
}

.new--highlight {
  text-transform: uppercase;
  font-size: 10px;
  color: yellowgreen;
  padding-left: 0 0 0 2px;
  margin: 0;
  vertical-align: top;
  line-height: 60%;
  display: inline-block;
  position: relative;
  left: -3px;
}

.logo {
  background-color: #ed3b1c;
  font-size: 20px;
  font-family: Arial;
  padding: 5px 7px;
  margin-right: 10px;
  height: 22px;
}

.green--highlight {
  color: #39cccc;
}

.yellow--highlight {
  color: #fbb829;
}

.active-highlight {
  background-color: #2e3740;
  color: #f13404;
}

.page-title {
  margin-top: 20px;
}

.page-title__upper {
  padding: 8px;
  background-color: #2e3740;
  font-size: 14px;
}

.page-title__flex {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.page-title__mainblock {
  margin-right: auto;
}

.page-title__title {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
}

.page-title__subtitle {
  margin: -2px 0 0 0;
  color: rgb(180, 180, 180);
}

.page-title__block {
  display: flex;
  gap: 12px;
}

.page-title__miniblock {
  margin-top: 5px;
}

.green--highlight:hover {
  color: #39cccc;
}

.page-title__subitem {
  font-size: 12px;
  margin: 2px 0 0 0;
  color: rgb(180, 180, 180);
}

.comments-plate {
  margin-left: auto;
  display: inline-block;
  color: #92bb35;
  font-size: 12px;
  border: 1px solid #92bb35;
  padding: 4px 7px;
}

.page-title__comments-wrapper {
  display: flex;
}

.comments-plate__icon {
  width: 10px;
}

.page-title__lower {
  background-color: #2a323a;
}

.page-title__menu {
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
}

.page-title__menu-item {
  padding: 8px;
  color: rgb(180, 180, 180);
}

.page-title__menu-item:first-child {
  border-bottom: 2px solid rgb(189, 53, 35);
  background-color: #282e31;
}

.page-title__menu-item:hover {
  background-color: #282e31;
}

.match-info__score {
  position: relative;
  margin-top: 5px;
}

.truesight--comment {
  border-color: #a89cee;
  color: #a89cee;
  font-size: 14px;
  float: right;
  position: absolute;
  right: 0;
}

.match-info {
  margin-top: 5px;
}

.match-info__winner {
  margin: 0px auto 0px auto;
  padding-top: 10px;
  text-align: center;
  font-size: 21px;
}

.dire--highlight {
  color: #c23c2a;
}

.radiant--highlight {
  color: #92a525;
}

.match-info__winner-subtitle {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  margin-top: 10px;
}

.match-info__kills {
  font-size: 21px;
}

.match-info__match-time {
  font-size: 14px;
}

.match-info__stats-radiant,
.match-info__stats-dire {
  background-color: #242f39;
  padding: 4px 4px 8px 4px;
  border: 1px solid rgb(24, 23, 23);
}

.match-info__title {
  font-size: 16px;
  padding: 6px 4px;
  font-weight: 400;
  margin: 0;
}

.match-info__statsblock {
  font-size: 12px;
}

.match-info__statsblock-row {
  display: flex;
  align-items: center;
}

.match-info__statsblock-row:last-child > div {
  padding-top: 4px;
}

.match-info__statsblock-item {
  vertical-align: middle;
  color: rgb(180, 180, 180);
  align-self: stretch;
  display: flex;
  justify-content: center;
}

.match-info__statsblock-row-1 {
  background-color: rgba(146, 165, 37, 0.12);
}

.match-info__statsblock-row-0 {
  background-color: rgba(146, 165, 37, 0.06);
}

.match-info__statsblock-row-2 {
  background-color: rgba(194, 60, 42, 0.12);
}

.match-info__statsblock-row-3 {
  background-color: rgba(194, 60, 42, 0.06);
}

.match-info__statsblock-row > div:nth-child(1) {
  width: 50px;
  padding: 4px 4px 3px 4px;
}

.match-info__hero-wrapper {
  position: relative;
}

.match-info__statsblock-row > div:nth-child(2),
.match-info__statsblock-row > div:nth-child(3) {
  width: 20px;
  padding-bottom: 3px;
  padding-top: 3px;
}

.match-info__statsblock-row > div:nth-child(4) {
  flex-grow: 1;
  vertical-align: middle;
  padding: 4px 4px 3px 4px;
  color: rgb(255, 255, 255);
  background-origin: border-box;
  align-self: stretch;
  display: flex;
  flex-direction: column;
}

.match-info__statsblock-row > div:nth-child(5),
.match-info__statsblock-row > div:nth-child(7) {
  width: 22px;
  color: rgb(255, 255, 255);
  justify-content: start;
  padding-bottom: 3px;
  padding-top: 3px;
}

.match-info__statsblock-row > div > div {
  margin: auto 0;
}

.match-info__statsblock-row > div:nth-child(6) {
  width: 22px;
  color: rgb(180, 180, 180);
  justify-content: start;
  padding-bottom: 3px;
  padding-top: 3px;
}

.match-info__statsblock-row > div:nth-child(8) {
  width: 48px;
  text-align: center;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: rgb(180, 180, 180);
  padding-bottom: 3px;
  padding-top: 3px;
}

.match-info__statsblock-row > div:nth-child(9) {
  width: 32px;
  text-align: end;
  justify-content: end;
  padding-bottom: 3px;
  padding-top: 3px;
}

.match-info__statsblock-row > div:nth-child(10) {
  padding: 0 3px;
  color: rgb(180, 180, 180);
}

.match-info__statsblock-row > div:nth-child(11) {
  width: 23px;
  justify-content: start;
  padding-bottom: 3px;
  padding-top: 3px;
}

.match-info__statsblock-row > div:nth-child(12) {
  width: 27px;
  text-align: end;
  justify-content: end;
  padding-bottom: 3px;
  padding-top: 3px;
}

.match-info__statsblock-row > div:nth-child(13) {
  padding: 0 3px;
  color: rgb(180, 180, 180);
}

.match-info__statsblock-row > div:nth-child(14) {
  width: 23px;
  justify-content: start;
  padding-bottom: 3px;
  padding-top: 3px;
}

.match-info__statsblock-row > div:nth-child(15) {
  width: 47px;
  text-align: center;
  padding-left: 5px;
  padding-bottom: 3px;
  padding-top: 3px;
}

.match-info__statsblock-row > div:nth-child(16) {
  width: 37px;
  text-align: center;
  padding-bottom: 3px;
  padding-top: 3px;
}

.match-info__statsblock-row > div:nth-child(17) {
  width: 37px;
  text-align: center;
  padding-bottom: 3px;
  padding-top: 3px;
}

.match-info__statsblock-row > div:nth-child(18) {
  width: 45px;
  text-align: center;
  padding-bottom: 3px;
  padding-top: 3px;
}

.match-info__statsblock-row > div:nth-child(19) {
  width: 273px;
  flex-direction: column;
  padding: 4px 4px 3px 4px;
}

.match-info__statsblock-header {
  color: white !important;
}

.match-info__statsblock-header:not(:first-child, :nth-child(4)) {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: rgb(117, 117, 117);
}

.match-info__hero-image {
  width: 43px;
  height: fit-content;
  margin: auto 0;
}

.match-info__player-name {
  margin: auto 0 0 0;
}

.match-info__herolvl {
  position: absolute;
  right: 0px;
  font-size: 12px;
  bottom: 2px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 10px;
  width: 15px;
  text-align: center;
}

.role-image {
  width: 12px;
}

.match-info__player-lane-outcome {
  font-size: 11px;
  margin: 0 0 auto 0;
  color: rgb(175, 175, 175);
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: rgb(180, 180, 180);
}

.ward {
  color: #f2cc67;
}

.sentry {
  color: #30bfd2;
}

.match-info__statsblock-buffstitle {
  align-self: center;
  margin-right: 5px;
}

.match-info__initems-image {
  width: 38px;
  margin-right: 1px;
  height: fit-content;
}

.match-info__buffs-image {
  width: 34px;
}

.match-info__statsblock-buffs {
  display: flex;
  color: white;
}

.match-info__statsblock-neutralitem {
  display: inline-block;
  margin-left: 5px;
  position: relative;
}

.match-info__statsblock-neutralimg {
  border-radius: 50%;
  width: 30px;
  height: 28px;
}

.match-info__initems-wrapper {
  display: inline-block;
  position: relative;
}

.match-info__itemmin {
  position: absolute;
  left: 0px;
  font-size: 12px;
  bottom: 2px;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 10px;
}

.green--highlight {
  color: #39cccc;
}

.yellow--highlight {
  color: #fbb829;
}

.active-highlight {
  background-color: #2e3740;
  color: #f13404;
}

.match-info__bagitem-image {
  width: 33px;
}

.check-img {
  width: 11px;
  padding-right: 5px;
}

.final-outcome {
  text-decoration: none;
}

.match-info__pickbanned {
  margin: 10px 0 20px 0;
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}

.match-info__pickbanned-item {
  position: relative;
}

.match-info__pickbanned_image {
  height: 32px;
  margin-bottom: -3px;
}

.match-info__pickbanned-queue {
  position: absolute;
  font-size: 11px;
  width: 19px;
  height: 15px;
  background-color: rgba(10, 10, 10, 0.8);
  text-align: center;
  top: 0;
  right: 0;
}

.match-info__pickbanned-type {
  background-color: black;
  font-size: 11px;
  justify-content: center;
  display: flex;
  gap: 4px;
  height: 16px;
  align-items: center;
}

.match-info__pickbanned-type-image {
  height: 11px;
}

.hero--banned {
  filter: saturate(0);
}

.match-info__winner-icon {
  width: 14px;
  margin-left: 5px;
}

.herohint {
  width: 358px;
  height: 210px;
  border: 2px solid rgb(32, 32, 34);
  position: fixed;
  top: 0;
  background-color: rgba(29, 42, 51, 0.95);
  box-shadow: 0 0 3px rgb(44, 44, 44);
}

.herohint__upperblock {
  background-color: #242f39;
  height: 75px;
  display: flex;
}

.herohint__heroimg {
  padding: 10px;
}

.herohint__upperinfo {
  padding: 10px 10px 10px 0px;
}

.herohint__title {
  font-size: 17px;
  font-weight: 550;
}

.herohint__attribute {
  color: rgb(115, 133, 153);
  font-size: 13px;
  display: flex;
  gap: 5px;
  line-height: 10px;
  align-items: center;
}

.herohint__attribute-img {
  height: 18px;
}

.herohint__popular {
  color: rgb(115, 133, 153);
  font-size: 13px;
}

.herohint__statsgain {
  display: flex;
  justify-content: center;
  gap: 70px;
  justify-items: center;
  margin-top: 9px;
  color: rgb(115, 133, 153);
}

.herohint__statsgain--main {
  color: white;
}

.herohint__statsgain--main-img {
  border: 2px solid white;
  border-radius: 50%;
}

.herohint__gain-item {
  text-align: center;
  font-size: 12px;
}

.herohint__img {
  height: 36px;
  margin-bottom: 5px;
}

.herohint__otherinfo {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  margin-left: 5px;
  gap: 3px;
  margin-top: 3px;
}

.herohint__othertitle {
  color: rgb(115, 133, 153);
  margin-right: 7px;
}

.page-header__arrow {
  display: none;
}

.page-title__menu-more > span {
  font-size: 8px;
}

.page-header__logo-toggle {
  display: none;
}

@media (max-width: 900px) {
  .page-title__flex {
    gap: 4px;
    flex-direction: column;
  }

  .comments-plate {
    margin-right: auto;
    margin-left: 0;
  }

  .page-title__block {
    flex-wrap: wrap;
  }

  .page-title__comments-wrapper {
    margin-top: 13px;
  }
}

.page-title__menu-more {
  display: none;
}

@media (max-width: 900px) {
  .page-title__flex {
    gap: 4px;
    flex-direction: column;
  }

  .comments-plate {
    margin-right: auto;
    margin-left: 0;
  }

  .page-title__comments-wrapper {
    margin-top: 13px;
  }

  .page-title__menu-item:not(:nth-child(1), :nth-child(2), :nth-child(3), :nth-child(4), :last-child) {
    display: none;
  }

  .page-title__menu-more {
    display: inline;
  }
}

.page-header__lists-wrapper {
  display: flex;
}
.page-header__menu-mobile-list {
  display: none;
}

.hidden--item {
  display: none;
}

@media (max-width: 800px) {
  .page-header__logo-img {
    width: 17px;
    margin-top: 2px;
    margin-left: 7px;
  }

  .page-header__logo-toggle {
    display: block;
    margin: 0;
    padding: 7px 6px;
    display: inline-block;
    font-size: 14px;
    background-color: #ed3b1c;
    font-size: 20px;
    font-family: Arial;
    padding: 5px 7px;
    margin-right: 10px;
    height: 22px;
    display: block;
    display: flex;
    gap: 8px;
    margin-right: auto;
    order: 0;
    margin-left: -8px;
    padding: 6px;
    cursor: pointer;
  }

  .page-header__menu-top {
    flex-wrap: wrap;
  }

  .page-title {
    margin-top: 40px;
  }

  .page-header {
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
  }

  .page-header__lists-wrapper {
    order: 2;
    width: 100%;
  }

  .page-header__menu-top-list {
    width: 125px;
    flex-grow: 0;
    display: none;
    height: 1500px;
  }

  .page-header__arrow {
    margin-left: auto;
    display: block;
    font-size: 13px;
  }

  .page-header__menu-item {
    font-size: 18px;
    padding: 12px 12px 12px 4px;
    display: flex;
  }

  .logo {
    display: none;
  }

  .page-header__menu-subitem {
    font-size: 18px;
    padding: 12px;
  }

  .page-header__sublist {
    display: none;
  }

  .page-header__info-block {
    order: 1;
  }

  .hidden--item {
    display: inline-block;
  }

  .page-header__menu-mobile-list {
    background: #2e3740;
    flex-grow: 1;
    position: absolute;
    left: 130px;
    height: 1500px;
    display: none;
    width: 100%;
  }

  .page-header__menu-top-list--opened {
    z-index: 100;
    display: flex;
    flex-direction: column;
  }

  .new--highlight {
    margin-left: 7px;
  }

  .truesight--comment {
    position: static;
    border: none;
    display: block;
    margin: 0 auto;
    text-align: center;
    float:none;
  }

}

.hidden {
  display: none;
}

@media (max-width: 480px) {
  .new--highlight {
    display: none;
  }
}
